<div class="calendar-container px-8 py-30 bg-[#F9FAFB] min-h-screen">
  <div class="flex items-center gap-3 mb-8">
    <h1 class="text-3xl font-bold text-gray-800">Notifications</h1>
  </div>

  <ng-container *ngFor="let notif of notifications">
    <div
      class="flex items-center gap-4 p-6 rounded-xl shadow-sm border"
      [ngStyle]="{
        'background-color': getRandomPastelColor(),
        'border-color': getRandomBorderColor()
      }"
    >
      <svg class="w-6 h-6 text-[#3B82F6] flex-shrink-0" fill="none" stroke="currentColor" stroke-width="2"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
      <div class="flex justify-between items-center w-full">
        <p class="text-gray-800 text-sm font-medium">
          {{ notif.message }} <span class="font-semibold">{{ notif.sender }}</span>
        </p>
        <div class="text-xs text-gray-500 flex items-center gap-2">
          <span>{{ notif.time }}</span>
          <span>{{ notif.date }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
