<div class="flex h-screen bg-[#F9FAFB]">
    
    <aside class="w-20 bg-white shadow-lg flex flex-col items-center py-4">
        <img src="assets/logo.svg" alt="Logo" class="w-40 mb-6" />
      
        <!-- Top icons -->
        <div class="flex-1 flex flex-col items-center space-y-6">
          <a routerLink="/layout/home"><img src="assets/icons/home.svg" alt="Home" class="w-6 mt-4" /></a>
          <a routerLink="/layout/teamProjects"><img src="assets/icons/projects.svg" alt="Projects" class="w-6 mt-3" /></a>
          <a routerLink="/layout/calendar"><img src="assets/icons/calendar.svg" alt="Messages" class="w-6 mt-3" /></a>
          <a routerLink="/layout/notifications"><img src="assets/icons/bell.svg" alt="Notifications" class="w-6 mt-3" /></a>
          
        </div>
      
        
        <button (click)="logout()" class="mb-20">
          <img src="assets/icons/logout.svg" alt="Logout" class="w-8" />
        </button>
      </aside>
      
  
    
    <div class="flex-1 flex flex-col">
      
        <header class="flex justify-end items-center px-6 py-4 bg-white">
            <div class="flex items-center space-x-5 ml-auto mr-7">
              <img src="assets/icons/user.svg" alt="User" class="w-8" />
              <div class="text-right">
                <p class="font-semibold text-sm">User Name</p>
                <p class="text-xs text-gray-500">useremail</p>
              </div>
            </div>
          </header>
          
          <main class="flex-1 overflow-y-auto p-6">
            <router-outlet></router-outlet>
          </main>
  
      
    </div>
  </div>