<div class="home-container px-8 py-10 bg-[#F9FAFB] min-h-screen">
  <!-- Header with Icon -->
  <div class="flex items-center gap-3 mb-8">
    <!-- Title -->
    <h1 class="text-3xl font-bold text-gray-800">Active Projects</h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Loop through the projects -->
    <div *ngFor="let project of projects" 
         class="bg-white rounded-lg shadow-lg p-6 border-l-4 cursor-pointer"
         [style.border-left-color]="getRandomBorderColor()"
         (click)="navigateToProjectDetails(project.id)">
      <div class="flex justify-between items-start mb-4">
        <div>
          <span class="text-xs font-medium" [class]="getRandomTextColor()">
            {{ project.description }}
          </span>
          <h3 class="text-lg font-medium text-gray-800 mt-2">{{ project.title }}</h3>
        </div>
        <span class="text-xs" [class]="getRandomBgColor() + ' ' + getRandomTextColor()">
          {{ project.category }}
        </span>
      </div>
      
      <!-- Supervisors section -->
      <div class="mt-3 mb-3">
        <div class="flex flex-wrap gap-1">
          <span *ngFor="let supervisor of project.supervisors" 
                class="inline-flex items-center px-2 py-1 rounded-full text-xs font-medium bg-gray-100 text-gray-800">
            {{ supervisor.name }}
          </span>
        </div>
      </div>
      
      <div class="flex justify-between items-center mt-6">
        <span class="text-sm font-medium" [ngClass]="{'text-red-500': project.status.includes('Left'),
                                                      'text-yellow-500': project.status.includes('Week'),
                                                      'text-green-500': project.status.includes('Start')}">
          {{ project.status }}
        </span>
        <div class="flex items-center">
          <img src="assets/icons/calendar.svg" alt="Calendar" class="w-4 h-4 mr-2" />
          <span class="text-xs text-gray-500">{{ project.dueDate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
